{
  "openapi": "3.0.3",
  "info": {
    "title": "Kelasmirai - School Management SaaS API",
    "description": "All-in-One Administrasi Sekolah (SD \u2013 SMA/SMK). Multi-tenant school management system.",
    "version": "1.0.0",
    "contact": {
      "name": "Kelasmirai Support",
      "email": "support@kelasmirai.com"
    }
  },
  "servers": [
    {
      "url": "https://api.kelasmirai.com/v1",
      "description": "Production"
    },
    {
      "url": "https://staging-api.kelasmirai.com/v1",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication & Authorization"
    },
    {
      "name": "Tenants",
      "description": "Multi-tenant management"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription plans"
    },
    {
      "name": "Users",
      "description": "User & Role management"
    },
    {
      "name": "Students",
      "description": "Student management"
    },
    {
      "name": "Teachers",
      "description": "Teacher & Staff management"
    },
    {
      "name": "Classes",
      "description": "Class & Curriculum management"
    },
    {
      "name": "Schedules",
      "description": "Class schedule management"
    },
    {
      "name": "Academics",
      "description": "Grades & Report cards"
    },
    {
      "name": "Attendance",
      "description": "Attendance tracking"
    },
    {
      "name": "Finance",
      "description": "Billing & Payroll"
    },
    {
      "name": "Documents",
      "description": "Document management"
    },
    {
      "name": "Library",
      "description": "Library management"
    },
    {
      "name": "Transport",
      "description": "Transportation"
    },
    {
      "name": "Canteen",
      "description": "Canteen & E-wallet"
    },
    {
      "name": "Reports",
      "description": "Analytics & Reports"
    },
    {
      "name": "Calendar",
      "description": "Academic calendar"
    },
    {
      "name": "Alumni",
      "description": "Alumni management"
    },
    {
      "name": "Parent Portal",
      "description": "Parent access"
    },
    {
      "name": "Notifications",
      "description": "Notifications"
    }
  ],
  "paths": {
    "/auth/tenant/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Register new school",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "school_name": "SMK Negeri 1 Jakarta",
                "slug": "smkn1-jkt",
                "admin_name": "Budi",
                "admin_email": "admin@smkn1.sch.id",
                "password": "secret",
                "plan_id": "uuid-plan-premium",
                "billing_cycle": "monthly"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "School registered",
            "content": {
              "application/json": {
                "example": {
                  "status": true,
                  "message": "Registration successful. Please check your email to confirm your account."
                }
              }
            }
          }
        }
      }
    },
    "/auth/tenant/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "User login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/roles": {
      "get": {
        "tags": ["Users"],
        "summary": "List roles",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Role list"
          }
        }
      },
      "post": {
        "tags": ["Users"],
        "summary": "Create role",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Role created"
          }
        }
      }
    },
    "/tenants": {
      "get": {
        "tags": ["Tenants"],
        "summary": "List tenants (Super Admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant list"
          }
        }
      }
    },
    "/tenants/{id}": {
      "get": {
        "tags": ["Tenants"],
        "summary": "Get tenant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant details"
          }
        }
      },
      "put": {
        "tags": ["Tenants"],
        "summary": "Update tenant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },

    "/students": {
      "get": {
        "tags": ["Students"],
        "summary": "List students",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "name": "class_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "transferred", "graduated", "dropout"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student list"
          }
        }
      },
      "post": {
        "tags": ["Students"],
        "summary": "Create student",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["nis", "full_name"],
                "properties": {
                  "nis": {
                    "type": "string"
                  },
                  "nisn": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "parent_name": {
                    "type": "string"
                  },
                  "parent_email": {
                    "type": "string"
                  },
                  "class_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Student created"
          }
        }
      }
    },
    "/students/{id}": {
      "get": {
        "tags": ["Students"],
        "summary": "Get student",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Student details"
          }
        }
      },
      "put": {
        "tags": ["Students"],
        "summary": "Update student",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": ["Students"],
        "summary": "Delete student",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/students/import": {
      "post": {
        "tags": ["Students"],
        "summary": "Bulk import students",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import successful"
          }
        }
      }
    },
    "/students/export": {
      "get": {
        "tags": ["Students"],
        "summary": "Export students",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["csv", "xlsx"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export file"
          }
        }
      }
    },
    "/teachers": {
      "get": {
        "tags": ["Teachers"],
        "summary": "List teachers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Teacher list"
          }
        }
      },
      "post": {
        "tags": ["Teachers"],
        "summary": "Create teacher",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nip": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "position": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Teacher created"
          }
        }
      }
    },
    "/teachers/{id}": {
      "get": {
        "tags": ["Teachers"],
        "summary": "Get teacher",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Teacher details"
          }
        }
      },
      "put": {
        "tags": ["Teachers"],
        "summary": "Update teacher",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": ["Teachers"],
        "summary": "Delete teacher",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/classes": {
      "get": {
        "tags": ["Classes"],
        "summary": "List classes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Class list"
          }
        }
      },
      "post": {
        "tags": ["Classes"],
        "summary": "Create class",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "grade_level": {
                    "type": "integer"
                  },
                  "homeroom_teacher_id": {
                    "type": "string"
                  },
                  "capacity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Class created"
          }
        }
      }
    },
    "/classes/{id}": {
      "get": {
        "tags": ["Classes"],
        "summary": "Get class",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Class details"
          }
        }
      },
      "put": {
        "tags": ["Classes"],
        "summary": "Update class",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": ["Classes"],
        "summary": "Delete class",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "tags": ["Schedules"],
        "summary": "List schedules",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "class_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teacher_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule list"
          }
        }
      },
      "post": {
        "tags": ["Schedules"],
        "summary": "Create schedule",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "class_id": {
                    "type": "string"
                  },
                  "subject_id": {
                    "type": "string"
                  },
                  "teacher_id": {
                    "type": "string"
                  },
                  "day": {
                    "type": "string"
                  },
                  "start_time": {
                    "type": "string"
                  },
                  "end_time": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Schedule created"
          }
        }
      }
    },
    "/schedules/conflicts": {
      "get": {
        "tags": ["Schedules"],
        "summary": "Check conflicts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Conflict list"
          }
        }
      }
    },
    "/grades": {
      "get": {
        "tags": ["Academics"],
        "summary": "List grades",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Grade list"
          }
        }
      },
      "post": {
        "tags": ["Academics"],
        "summary": "Input grade",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "student_id": {
                    "type": "string"
                  },
                  "subject_id": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "score": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Grade created"
          }
        }
      }
    },
    "/report-cards/{student_id}": {
      "get": {
        "tags": ["Academics"],
        "summary": "Get report card",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "semester",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report card"
          }
        }
      }
    },
    "/report-cards/{student_id}/pdf": {
      "get": {
        "tags": ["Academics"],
        "summary": "Download report card PDF",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {}
            }
          }
        }
      }
    },
    "/attendance/students": {
      "get": {
        "tags": ["Attendance"],
        "summary": "List student attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance list"
          }
        }
      },
      "post": {
        "tags": ["Attendance"],
        "summary": "Record attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "student_id": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["present", "absent", "sick", "permission"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attendance recorded"
          }
        }
      }
    },
    "/attendance/students/bulk": {
      "post": {
        "tags": ["Attendance"],
        "summary": "Bulk record attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "class_id": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "attendances": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk recorded"
          }
        }
      }
    },
    "/attendance/students/qr": {
      "post": {
        "tags": ["Attendance"],
        "summary": "QR attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "qr_code": {
                    "type": "string"
                  },
                  "student_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attendance via QR"
          }
        }
      }
    },
    "/attendance/teachers": {
      "get": {
        "tags": ["Attendance"],
        "summary": "List teacher attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Teacher attendance"
          }
        }
      },
      "post": {
        "tags": ["Attendance"],
        "summary": "Record teacher attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Recorded"
          }
        }
      }
    },
    "/finance/bills": {
      "get": {
        "tags": ["Finance"],
        "summary": "List bills",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["paid", "unpaid", "partial"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill list"
          }
        }
      },
      "post": {
        "tags": ["Finance"],
        "summary": "Create bill",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "student_id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "due_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bill created"
          }
        }
      }
    },
    "/finance/payments": {
      "get": {
        "tags": ["Finance"],
        "summary": "List payments",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Payment list"
          }
        }
      },
      "post": {
        "tags": ["Finance"],
        "summary": "Record payment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bill_id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "payment_method": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment recorded"
          }
        }
      }
    },
    "/finance/payments/midtrans": {
      "post": {
        "tags": ["Finance"],
        "summary": "Create Midtrans payment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bill_id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment_url": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/finance/payments/webhook": {
      "post": {
        "tags": ["Finance"],
        "summary": "Midtrans webhook",
        "responses": {
          "200": {
            "description": "Webhook processed"
          }
        }
      }
    },
    "/finance/payroll": {
      "get": {
        "tags": ["Finance"],
        "summary": "List payroll",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Payroll list"
          }
        }
      },
      "post": {
        "tags": ["Finance"],
        "summary": "Create payroll",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "teacher_id": {
                    "type": "string"
                  },
                  "month": {
                    "type": "string"
                  },
                  "basic_salary": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payroll created"
          }
        }
      }
    },
    "/finance/payroll/{id}/slip": {
      "get": {
        "tags": ["Finance"],
        "summary": "Download salary slip",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF slip",
            "content": {
              "application/pdf": {}
            }
          }
        }
      }
    },
    "/library/books": {
      "get": {
        "tags": ["Library"],
        "summary": "List books",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Book list"
          }
        }
      },
      "post": {
        "tags": ["Library"],
        "summary": "Add book",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "isbn": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Book added"
          }
        }
      }
    },
    "/library/borrowings": {
      "get": {
        "tags": ["Library"],
        "summary": "List borrowings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Borrowing list"
          }
        }
      },
      "post": {
        "tags": ["Library"],
        "summary": "Borrow book",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "student_id": {
                    "type": "string"
                  },
                  "book_id": {
                    "type": "string"
                  },
                  "borrow_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Borrowed"
          }
        }
      }
    },
    "/library/borrowings/{id}/return": {
      "post": {
        "tags": ["Library"],
        "summary": "Return book",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned"
          }
        }
      }
    },
    "/transport/vehicles": {
      "get": {
        "tags": ["Transport"],
        "summary": "List vehicles",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle list"
          }
        }
      },
      "post": {
        "tags": ["Transport"],
        "summary": "Add vehicle",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Vehicle added"
          }
        }
      }
    },
    "/transport/routes": {
      "get": {
        "tags": ["Transport"],
        "summary": "List routes",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Route list"
          }
        }
      },
      "post": {
        "tags": ["Transport"],
        "summary": "Create route",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Route created"
          }
        }
      }
    },
    "/canteen/products": {
      "get": {
        "tags": ["Canteen"],
        "summary": "List products",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Product list"
          }
        }
      },
      "post": {
        "tags": ["Canteen"],
        "summary": "Add product",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "stock": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product added"
          }
        }
      }
    },
    "/canteen/transactions": {
      "get": {
        "tags": ["Canteen"],
        "summary": "List transactions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list"
          }
        }
      },
      "post": {
        "tags": ["Canteen"],
        "summary": "Create transaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Transaction created"
          }
        }
      }
    },
    "/canteen/wallet/{student_id}": {
      "get": {
        "tags": ["Canteen"],
        "summary": "Get wallet balance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balance"
          }
        }
      }
    },
    "/canteen/wallet/{student_id}/topup": {
      "post": {
        "tags": ["Canteen"],
        "summary": "Top-up wallet",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top-up successful"
          }
        }
      }
    },
    "/reports/academic": {
      "get": {
        "tags": ["Reports"],
        "summary": "Academic report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "class_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Academic report"
          }
        }
      }
    },
    "/reports/finance": {
      "get": {
        "tags": ["Reports"],
        "summary": "Finance report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Finance report"
          }
        }
      }
    },
    "/reports/attendance": {
      "get": {
        "tags": ["Reports"],
        "summary": "Attendance report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "class_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance report"
          }
        }
      }
    },
    "/reports/export": {
      "get": {
        "tags": ["Reports"],
        "summary": "Export report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "report_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["academic", "finance", "attendance"]
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["xlsx", "pdf"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export file"
          }
        }
      }
    },
    "/calendar/events": {
      "get": {
        "tags": ["Calendar"],
        "summary": "List events",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Event list"
          }
        }
      },
      "post": {
        "tags": ["Calendar"],
        "summary": "Create event",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "event_type": {
                    "type": "string"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created"
          }
        }
      }
    },
    "/academic-years": {
      "get": {
        "tags": ["Calendar"],
        "summary": "List academic years",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Academic year list"
          }
        }
      },
      "post": {
        "tags": ["Calendar"],
        "summary": "Create academic year",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/academic-years/{id}/promote": {
      "post": {
        "tags": ["Calendar"],
        "summary": "Promote students",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "student_exceptions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Promoted"
          }
        }
      }
    },
    "/alumni": {
      "get": {
        "tags": ["Alumni"],
        "summary": "List alumni",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "name": "graduation_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alumni list"
          }
        }
      }
    },
    "/alumni/{id}": {
      "get": {
        "tags": ["Alumni"],
        "summary": "Get alumni",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Alumni details"
          }
        }
      },
      "put": {
        "tags": ["Alumni"],
        "summary": "Update alumni",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/parent/dashboard": {
      "get": {
        "tags": ["Parent Portal"],
        "summary": "Parent dashboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data"
          }
        }
      }
    },
    "/parent/children": {
      "get": {
        "tags": ["Parent Portal"],
        "summary": "Get children",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Children list"
          }
        }
      }
    },
    "/parent/children/{student_id}/grades": {
      "get": {
        "tags": ["Parent Portal"],
        "summary": "View child grades",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student grades"
          }
        }
      }
    },
    "/parent/children/{student_id}/attendance": {
      "get": {
        "tags": ["Parent Portal"],
        "summary": "View child attendance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student attendance"
          }
        }
      }
    },
    "/parent/children/{student_id}/bills": {
      "get": {
        "tags": ["Parent Portal"],
        "summary": "View child bills",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Student bills"
          }
        }
      }
    },
    "/parent/children/{student_id}/report-card": {
      "get": {
        "tags": ["Parent Portal"],
        "summary": "Download report card",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "student_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report card PDF",
            "content": {
              "application/pdf": {}
            }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": ["Notifications"],
        "summary": "List notifications",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "unread_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification list"
          }
        }
      }
    },
    "/notifications/{id}/read": {
      "post": {
        "tags": ["Notifications"],
        "summary": "Mark as read",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Marked as read"
          }
        }
      }
    },
    "/notifications/send": {
      "post": {
        "tags": ["Notifications"],
        "summary": "Send notification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "channel": {
                    "type": "string",
                    "enum": ["email", "whatsapp", "push"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "Get subscription",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details"
          }
        }
      }
    },
    "/subscriptions/plans": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "List plans",
        "responses": {
          "200": {
            "description": "Plan list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "enum": ["Free", "Standard", "Premium"]
                          },
                          "max_students": {
                            "type": "integer"
                          },
                          "price_monthly": {
                            "type": "number"
                          },
                          "price_yearly": {
                            "type": "number"
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/upgrade": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Upgrade plan",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan_id": {
                    "type": "string"
                  },
                  "billing_cycle": {
                    "type": "string",
                    "enum": ["monthly", "yearly"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upgraded"
          }
        }
      }
    },
    "/dashboard/admin": {
      "get": {
        "tags": ["Reports"],
        "summary": "Admin dashboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_students": {
                      "type": "integer"
                    },
                    "total_teachers": {
                      "type": "integer"
                    },
                    "attendance_rate": {
                      "type": "number"
                    },
                    "unpaid_bills": {
                      "type": "number"
                    },
                    "recent_activities": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List users",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User list"
          }
        }
      },
      "post": {
        "tags": ["Users"],
        "summary": "Create user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "User created"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "User details"
          }
        }
      },
      "put": {
        "tags": ["Users"],
        "summary": "Update user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": ["Users"],
        "summary": "Delete user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/users/invite": {
      "post": {
        "tags": ["Users"],
        "summary": "Invite user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent"
          }
        }
      }
    },

    "/subjects": {
      "get": {
        "tags": ["Classes"],
        "summary": "List subjects",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subject list"
          }
        }
      },
      "post": {
        "tags": ["Classes"],
        "summary": "Create subject",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Subject created"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": ["Documents"],
        "summary": "List documents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Document list"
          }
        }
      },
      "post": {
        "tags": ["Documents"],
        "summary": "Create document",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Document created"
          }
        }
      }
    },
    "/documents/{id}/pdf": {
      "get": {
        "tags": ["Documents"],
        "summary": "Download PDF",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF file",
            "content": {
              "application/pdf": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "IdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 10
        }
      },
      "SearchParam": {
        "name": "search",
        "in": "query",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {}
  }
}
